<p>"-{{ quote.author }}"</p>
<p>
  This quote was uploaded by {{ quote.uploader }} on
  {{ quote.submitDate | date | uppercase }}
</p>
<div class="container-fluid">
  <div class="row2">
    <button class="btn btn-sm btn-success" (click)="upvote()">
      {{ quote.upVote }} Up Votes
    </button>
    <button class="btn btn-sm btn-danger" id="downvote" (click)="downvote()">
      {{ quote.downVote }} Down Votes
    </button>

    <div class="col-md-20">
      <button (click)="quoteDelete(true)" class="btn btn-outline-danger">
        Delete Quote
      </button>
    </div>
  </div>
</div>
