<div class="container">
  <h1>Quotes</h1>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="top">
        <div class="card-columns">
          <div class="card" *ngFor="let quote of quotes; let i = index">
            <div class="card-body">
              {{ quote.quote }}
              <app-quote-author
                [quote]="quote"
                (isComplete)="deleteQuote($event, i)"
              ></app-quote-author>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add">
    <div class="col-md-12">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
