@import "~bootstrap/dist/css/bootstrap.css";

.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  column-gap: 5px;
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 15px;
  row-gap: 15px;
}

.text {
  border: 1px solid black;
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  column-gap: 5px;
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 15px;
  row-gap: 15px;
  float: left;
}

body {
  background-image: url(./assets/img/books.jpg);
  background-repeat: no-repeat;
  font-family: fantasy;
}
h1 {
  color: white;
}
